<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li a="/">HOME</li>
                <li a="/about">About</li>
                <li a="/about/us">About Us</li>
                <li a="/about/product">About Product</li>
            </ul>
        </nav>
        <p>Welcone to {{title}}</p>
        <main>
            {{{body}}}
        </main>

        <footer>
            <hr>
            <p>footer</p>
        </footer>
    </body>
</html>
